# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
data/processed/*.db
*.db
*.sqlite
*.sqlite3

# Large Data Files (Except the Web Dashboard JSON data)
data/raw/nifty50_historical_data.csv
data/raw/nifty50_summary_statistics.csv
data/processed/nifty50_historical_data_cleaned.csv
data/processed/nifty50_summary_statistics_cleaned.csv
archive.zip

# Operating System Files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/
